* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body,html{
     width: 100vw;
     height: 100vh;
     font-family: Arial, Helvetica, sans-serif;
 }
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
input{
    border: 1px solid #E8E7E7;
    width: 100%;
    height: 40px;
    font-size: 1em;
    padding: 1em;
}
h1{
    font-weight: 400;
    padding: 1em;
}
.fab{
    padding: 2px;
}
a{
    padding: .5em;
    color: #4285F4;
}
h2{
    color:#A07373;
    padding: 1em;
}
img{
    margin-top: 4em;
    
}
label{
    padding: .5em;
    font-size: 1.2em;
}
span{
    color: #E8E7E7;
}